.home_hero_sec .nextend-bullet-bar {
  margin-bottom: 20px !important;
}
.home_hero_sec .nextend-bullet-bar .n2-bullet {
  background: transparent !important;
  border: 1px solid #fff !important;
  padding: 4px !important;
  margin: 4px 12px !important;
}
.home_hero_sec .nextend-bullet-bar .n2-bullet.n2-active {
  background: #fff !important;
}
.home_welcome_sell_left .elementor-widget-text-editor p span {
  display: block;
}
.home_welcome_sell_left .elementor-widget-text-editor p {
  margin-bottom: 24px;
}
.home_welcome_sell_left .elementor-widget-text-editor:last-child p:last-child {
  margin-bottom: 0;
}
.home_find_business_acq .elementor-widget-image,
.home_find_business_acq .elementor-widget-image .elementor-widget-container,
.home_find_business_acq .elementor-widget-image .elementor-widget-container img {
  height: 100%;
  object-fit: cover;
}
.home_specialist_trinity_sector_inner .elementor-inner-column .elementor-image-box-content {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home_specialist_trinity_sector_inner .elementor-inner-column .elementor-image-box-content .elementor-image-box-title {
  margin: 0;
  color: #fff;
}
.home_specialist_trinity_sector_inner .elementor-inner-column .elementor-image-box-img::before {
  content: "";
  background: linear-gradient(rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home_specialist_trinity_sector_inner .elementor-inner-column .elementor-image-box-img,
.home_specialist_trinity_sector_inner .elementor-inner-column .elementor-image-box-img img {
  height: 100%;
  display: flex;
  object-fit: cover;
}
.home_specialist_trinity_sector_inner .elementor-widget-image-box,
.home_specialist_trinity_sector_inner .elementor-widget-image-box .elementor-widget-container,
.home_specialist_trinity_sector_inner .elementor-widget-image-box .elementor-image-box-wrapper {
  height: 100%;
}
.home_registor .home_registor_form_main p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.home_registor .home_registor_form_main p .wpcf7-form-control-wrap input,
.home_contact_form form input,
.home_contact_form form textarea {
  background-color: rgb(22 22 22);
  border: none;
  width: 100%;
  border-radius: 0;
  height: 50px;
  color: #fff;
  font-family: "Montserrat", Sans-serif;
}
.home_contact_form form textarea {
  height: 100px;
  min-height: 80px;
  max-height: 150px;
}
.home_contact_form form .wpcf7-acceptance label {
  display: flex;
}
.home_contact_form form .wpcf7-acceptance label .wpcf7-list-item-label {
  font-size: 18px;
  font-family: "Montserrat";
  color: #919191;
  margin-left: 8px;
  line-height: 24px;
}
.home_contact_form form .wpcf7-acceptance .wpcf7-list-item {
  margin: 0;
}
.home_contact_form form .wpcf7-submit {
  width: 100% !important;
}
.home_registor .home_registor_form_main p .wpcf7-form-control-wrap input:focus,
.home_contact_form form input:focus,
.home_contact_form form textarea:focus {
  outline: none;
  border: none;
}
.home_registor .home_registor_form_main p .wpcf7-form-control-wrap input::placeholder,
.home_contact_form form input::placeholder,
.home_contact_form form textarea::placeholder {
  color: #919191 !important;
}
.home_registor .home_registor_form_main p .wpcf7-form-control-wrap {
  width: calc(100% - 135px);
  padding-right: 20px;
}
.home_contact_form form .wpcf7-form-control-wrap {
  margin-bottom: 20px;
  display: block;
}
.home_contact_form form p br {
  display: none;
}
.home_contact_form form p,
.contact_form_protected_capcha p {
  margin-bottom: 0;
}
.contact_form_protected_capcha p a {
  color: #24b4e0;
}
.home_registor .home_registor_form_main .wpcf7-submit,
.home_contact_form form .wpcf7-submit {
  border: none;
  background-color: #24b4e0;
  padding: 8px 32px;
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  width: 135px;
}
.home_registor .home_registor_form_main {
  max-width: 650px;
  margin: 0 auto;
}
/* .home_reviews{
	filter: grayscale(100%);
} */
.home_reviews .review_date {
  margin-top: auto;
  margin-bottom: 0;
}
.home_reviews .elementor-inner-column .elementor-widget-wrap {
  flex-direction: column;
}
.home_registor .home_registor_form_main .wpcf7-submit:hover,
.home_contact_form form .wpcf7-submit:hover,
.home_hero_sec .n2-ss-button-container a:hover {
  background: rgb(85, 207, 253) !important;
}
.home_contact_us .elementor-widget-text-editor h4 {
  margin-top: 0;
  margin-bottom: 4px;
}
.home_contact_us .wpcf7-response-output {
  margin: 0 !important;
  color: #919191;
}
.home_business_sales_inner .elementor-image-box-content .elementor-image-box-title,
.about_us_inner .elementor-image-box-content .elementor-image-box-title {
  margin-top: 0;
}
.home_business_sales_inner .elementor-image-box-img,
.about_us_inner .elementor-image-box-img {
  margin-bottom: 15px !important;
}
.home_specialist_trinity_sector_inner .elementor-inner-column .elementor-image-box-img img {
  aspect-ratio: 1.5;
}
.home_hero_sec,
.home_middle_banner,
.home_registor {
  padding-left: 10px !important;
  padding-right: 10px !important ;
}
.trinity-header-nav ul.hfe-nav-menu li {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.trinity-header-nav ul.hfe-nav-menu li.current-menu-item a.hfe-menu-item {
  border-bottom: 1px solid #24b4e0;
}
.home_registor form .wpcf7-response-output {
  margin: 0 !important;
  margin-top: 10px !important;
  color: #919191 !important;
  font-family: "Montserrat";
}
.home_registor .home_registor_form_main p .wpcf7-form-control-wrap input + .wpcf7-not-valid-tip,
.home_contact_form form input + .wpcf7-not-valid-tip,
.home_contact_form form textarea + .wpcf7-not-valid-tip {
  font-family: "Montserrat";
}
.selling_gallery .gallery {
  display: flex;
  flex-wrap: wrap;
}
.selling_gallery .gallery .gallery-item .gallery-icon,
.selling_gallery .gallery .gallery-item .gallery-icon a,
.selling_gallery .gallery .gallery-item .gallery-icon a img {
  height: 100%;
  object-fit: cover;
}
.selling_marketing_business .elementor-widget-text-editor p,
.selling_sales_process .elementor-widget-text-editor p {
  margin-bottom: 0;
}
.selling_gallery .elementor-image-gallery .gallery-item {
  max-width: 33.33% !important;
}
.buying_coming_soon_inner,
.off_market_file_coming_soon {
  max-width: 780px;
  margin: 0 auto;
}
.commercial_right p {
  margin-bottom: 0;
}
.commercial_left_img .elementor-widget-image,
.commercial_left_img .elementor-widget-image .elementor-widget-container,
.commercial_left_img .elementor-widget-image .elementor-widget-container img {
  height: 100%;
  object-fit: cover;
}
.off_market_left .sec_para p,
.retail_single_col p {
  margin-bottom: 0;
}
.our_partner_grid img {
  height: 150px !important;
  object-fit: contain;
}
.footer_privacy_policy_title .elementor-heading-title a:hover {
  color: rgb(85, 207, 253) !important;
}
.our_partner_grid .elementor-image-gallery .gallery {
  display: flex;
  gap: 20px;
}
.get_started_acceptance input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 19px;
  height: 19px;
  min-width: 19px;
  background-color: #000;
  border-radius: 4px;
  outline: none;
  margin-right: 8px;
  box-shadow: 0px 1px 3px;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}
.get_started_acceptance input[type="checkbox"]:hover {
  border: 1px solid rgb(36, 180, 224);
}
.get_started_acceptance input[type="checkbox"]:checked {
  border: 1px solid rgb(36, 180, 224);
  box-shadow: 0px 1px 3px;
}
.get_started_acceptance input[type="checkbox"]:checked::before {
  content: "\2713";
  font-size: 16px;
  color: rgb(36, 180, 224);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.get_started_acceptance p {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 24px !important;
  justify-content: flex-end;
}
.get_started_acceptance p label {
  font-size: 16px;
  color: #919191;
  font-family: "Montserrat";
  line-height: 1.2;
}
.selling_gallery .gallery-item {
  overflow: hidden;
}
.selling_gallery .gallery-item img {
  transform: scale(1);
  transition: 0.3s linear;
}
.selling_gallery .gallery-item:hover img {
  transform: scale(1.05);
  transition: 0.3s linear;
}
.home_registor .home_registor_form_main input.wpcf7-email:hover,
.home_registor .home_registor_form_main input.wpcf7-email:focus,
.home_contact_form form input.wpcf7-text:hover,
.home_contact_form form input.wpcf7-text:focus,
.home_contact_form form textarea:hover,
.home_contact_form form textarea:focus {
  color: rgb(191, 191, 191) !important;
  box-shadow: currentcolor 0px 0px 0px 1px inset;
}
.home_registor .home_registor_form_main .wpcf7-submit:focus,
.home_contact_form form .wpcf7-submit:focus {
  outline: none !important;
}
.home_registor .home_registor_form_main p .wpcf7-not-valid-tip {
  position: absolute;
}
.home_registor form .wpcf7-response-output {
  max-width: 650px;
  margin: 10px auto 0 !important;
}
.retail_review_desc {
  opacity: 0;
  position: absolute !important;
  top: 0;
  left: 0;
  transform: translatey(100%);
  transition: transform 0.3s linear;
}
.retail_review_inner .slick-track {
  display: flex;
  gap: 48px;
}
.retail_review_inner .slick-arrow {
  padding: 0;
  border: none;
}
.retail_review_inner .custom-arrow::before,
.retail_review_read_more {
  display: none;
}
.retail_review_inner .custom-arrow {
  width: 30px;
  height: 30px;
}
.retail_review_inner .custom-arrow:hover,
.retail_review_inner .custom-arrow:focus {
  background: transparent;
  border: none;
  outline: none;
}
.retail_review_inner .custom-arrow.slick-next {
  transform: translate(0, -50%) rotate(180deg);
}
.retail_review_inner .slick-track .slick-slide {
  height: auto;
}
.retail_review_inner .slick-track .slick-slide .elementor-widget-wrap {
  height: 100%;
}
.retail_review_inner .slick-dots button,
.retail_review_inner .slick-dots button:hover,
.retail_review_inner .slick-dots button:focus {
  background: transparent;
}
.retail_review_inner .slick-dots li button:before {
  font-size: 50px;
}
.retail_review_inner .slick-dots li.slick-active button:before,
.retail_review_inner .slick-dots li button:hover:before {
  color: #fff !important;
  opacity: 1;
}
.retail_review_inner .slick-list {
  margin-bottom: 30px;
}
.retail_review_sec {
  overflow: hidden;
}
.retail_review_inner .slick-next.custom-arrow {
  right: -15px;
}
.retail_review_inner .slick-prev.custom-arrow {
  left: -15px;
}
.retail_review_read_more p {
  margin-bottom: 0;
  cursor: pointer;
}
.buying_form form label {
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  display: block;
  text-align: left;
}
.buying_form form input,
.buying_form form select,
.buying_form form textarea {
  background-color: rgb(22 22 22);
  border: none;
  width: 100%;
  border-radius: 0;
  height: 50px;
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  margin-top: 10px;
}
.buying_form form input:hover,
.buying_form form select:hover,
.buying_form form textarea:hover,
.buying_form form input:focus,
.buying_form form select:focus,
.buying_form form textarea:focus,
.buying_form form input:focus-visible,
.buying_form form select:focus-visible,
.buying_form form textarea:focus-visible {
  color: rgb(191, 191, 191) !important;
  box-shadow: currentcolor 0px 0px 0px 1px inset;
  outline: none;
}
.buying_form form textarea {
  height: 100px;
  min-height: 80px;
  max-height: 130px;
}
.buying_form form .input_boxes {
  display: none;
}
.buying_map_svg p {
  text-align: center;
  height: 680px;
}
.buying_map_svg svg {
  transform: scale(0.5);
  transform-origin: top center;
}
.buying_map_svg {
  height: 680px;
  padding-left: 30px;
}
.buying_form_wrap {
  display: flex;
  overflow: hidden;
}
.buying_form_left,
.buying_map_svg {
  width: 50%;
}
.buying_form form .wpcf7-submit {
  border: none;
  background-color: #24b4e0;
  padding: 8px 32px;
  color: #000000;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0;
  width: auto;
}
.buying_form form .wpcf7-submit:hover {
  background: rgb(85, 207, 253) !important;
  color: #000000 !important;
  box-shadow: none !important;
}
.trinity-header-nav .header_logo .hfe-site-logo-container {
  display: flex;
}
.buying_form form .select2-selection {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}
.buying_form form .select2-container {
  width: 100% !important;
}
.buying_form form .select2-selection__rendered {
  padding: 0 !important;
  width: 100% !important;
}
.buying_form form .select2-selection__rendered input {
  background-color: rgb(22 22 22) !important;
  border: none !important;
  width: 100% !important;
  margin-top: 10px !important;
  padding: 0.5rem 1rem !important;
}
.buying_form form .select2-selection__rendered .select2-search {
  width: 100% !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3bcbff !important;
}
.select2-container .select2-dropdown {
  border-radius: 0 !important;
  border: 0 !important;
}
.select2-container .select2-results__option[aria-selected] {
  font-family: "Montserrat";
  font-size: 14px;
}
.buying_map_svg svg text {
  display: none;
}
/* Style for the tooltip */
.tooltip {
  position: absolute;
  background-color: #fff;
  color: #000;
  padding: 3px 5px;
  border-radius: 0;
  display: none;
  z-index: 9;
  font-size: 14px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #000;
  font-size: 14px;
  border-radius: 0 !important;
}
.acceptance-wrapper .wpcf7-list-item{
	margin:0;
}
.acceptance-wrapper label{
	display: flex;
    align-items: center;
}
.acceptance-wrapper input{
	width: auto !important;
	height: auto !important;
    margin: 0;
}
.custom_steps_cls .owl-item:nth-child(2) .xpro-horizontal-timeline-media{
	border-color: #FE851C !important;
}
.custom_steps_cls .owl-item:nth-child(3) .xpro-horizontal-timeline-media{
	border-color: #F43B6C !important;
}
.custom_steps_cls .owl-item:nth-child(4) .xpro-horizontal-timeline-media{
	border-color: #D4339B !important;
}
.custom_steps_cls .owl-item:nth-child(5) .xpro-horizontal-timeline-media{
	border-color: #5F55AD !important;
}
.custom_steps_cls .owl-item:nth-child(6) .xpro-horizontal-timeline-media{
	border-color: #2187C5 !important;
}
.xpro-horizontal-timeline-content-inner {
    background: unset !important;
    border: 3px solid #FFF !important;
}
.retails-sale-logos
{
    filter: brightness(0) invert(1);
}



/*  Date-4-7-2024----All css from api same to sectors post type  */

.product-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Montserrat' !important;
  color: #fff;
  margin-top: 15px;
  text-align: left !important;
  text-transform: uppercase;
  margin: 0 auto;
}
.product-description {
  background-color: #000;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 25px;
  border-radius: 25px;
  margin-top: -25px;
  z-index: 9999;
  min-height: 12rem;
  text-align: left;
  padding-top: -20px;
  font-family: 'Montserrat' !important;
}
.product-type {
  color: #42acd9 !important;
  font-weight: 400;
  margin: 0 auto;
  padding: 10px 0;
  font-family: 'Montserrat' !important;
  font-size: 1rem;
}
.properties-list {
  margin: 0 10px 0 10px !important;
}
.retails-main-sectn .row.properties-list {
  padding: 50px 0 0 0;
}
.view-details-button:hover {
  background-color: #42acd9;
  color: white;
}
.view-details-button {
  text-decoration: none !important;
  border-radius: 50px;
  border: .2rem solid #42acd9;
  background-color: #000;
  color: #fff;
  padding: .5rem .8rem;
  font-size: .9rem;
  cursor: pointer;
  line-height: 1rem;
  margin: 10px 5px 0px 0;
  font-family: 'Montserrat' !important;
  display: inline-block;
}
.weekly_sale_price {
  color: #fff;
  margin: 0 auto;
  padding: 10px 0;
  font-family: 'Montserrat' !important;
  font-size: .8rem;

}
.selling_price {
  margin: 0px;
  text-align: right;
  font-size: 1rem;
  line-height: 1rem;
  color: #42acd9;
  font-weight: 900;
  font-family: ArchivoBlack, Arial, sans-serif;
}
.logo_retails {
  width: 40%;
  padding: 5px;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s;
  transition-timing-function: ease-in-out;
  max-width: 200px;
  margin-left: 100px;
}
.product-main-img {
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 4 / 3;
  background-size: 20%;
  background-position: center 30%;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.loadMoreBtn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  transition: all 0.3s ease;
  margin: 0;
}
.loadMoreBtn:hover {
  background-color: #42acd9;
  color: #fff;
}
.product-description {
  min-height: 270px !important;
  margin-bottom: 20px !important;
  /*margin-top: 0px !important;*/
  z-index: 1;
  position: relative;

}
.cat-property h5 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 12px;
  background-color: #42acd9;
  padding: 5px 25px;
  z-index: 5;
  color: #fff;
  font-family: ArchivoBlack, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  font-weight: 900 !important;
}
.property.sold .cat-property h5.sold-namings {
  background-color: #19495d;
}
.category-image.under-offer,
.category-image.acquisition {
  position: absolute;
  top: 0;
  width: calc(100% - 24px);
  height: 100%;
  left: 12px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.category-image.under-offer::before,
.category-image.acquisition::before {
  content: "";
  width: 100%;
  height: calc(100% - 20px);
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 100%);
  position: absolute;
  transform: translateZ(-1px);
  border-radius: 25px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.property.under.offer .property-gallery img.product-main-img,
.property.acquisition .property-gallery img.product-main-img {
  filter: blur(15px);
}
.category-image.under-offer img,
.category-image.acquisition img {
  z-index: 1;
  width: 100px;
  height: 140px;
  object-fit: contain;
  margin-top: 100px;
}
.retails-main-sectn .splide__track .row {
    justify-content: center;
}
.gallery-products.slider {
  margin-top: 50px;
}
.property-gallery.slick-slide {
  padding: 0 10px;
  aspect-ratio: 4/3;
}
h3.product-titles {
  color: #fff;
  padding-left: 25px;
}
.product-right-sec {
  padding: 50px;
  color: #fff;
}
.product-right-sec a.btn.btn-primary {
  border: .2rem solid #42acd9 !important;
  background: transparent !important;
  text-decoration: none !important;
  padding: 0.5rem .8rem !important;
  border-radius: 3rem !important;
  display: inline-block !important;
  font-size: 18px;
  
}
.product-right-sec a.btn.btn-primary:hover {
  background: #42acd9 !important;
  color: #fff !important;
}
.property-content ul {
  margin-bottom: 50px;
  padding: 0;
}
.gallery-products.slider .slick-dots li button {
  color: #19495d !important;
  background: #19495d !important;
  border-radius: 50%;
}
.gallery-products.slider .slick-dots {
  bottom: 15px !important;
}
.gallery-products.slider .slick-dots li button:hover {
  color: #1e1e1e !important;
  background: #1e1e1e !important;
}
.logo_retails {
  display: block;
  margin-left: auto;
}
.product-title {
  padding-right: 110px;
}
.selling_price {
  position: absolute;
  top: 40px;
  right: 25px;
}
.retails-main-sectn .category-info {
  text-align: right;
}
.retails-main-sectn .category-info .category-name {
  margin: 0;
  background-color: #42acd9;
  padding: 25px;
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 0px !important;
  right: 12px;
  font-size: 20px;
  font-weight: 900;
}
.retails-main-sectn {
  overflow-x: hidden !important;
  padding: 0 !important;
}
.gallery-products.slider {
  padding: 50px;
  margin-top: 0 !important;
}
.splide__track.section {
  background: #000;
  padding: 0;
  position: relative;
}
.retails-main-sectn .elementor-widget-wrap.elementor-element-populated {
  padding: 0 !important;
  overflow: hidden;
}
.product-left-sec h1.product-titles {
  color: #fff;
  padding-left: 50px !important;
  margin: 0 auto !important;
  padding-top: 15px !important;
  font-size: 39px;
  font-weight: 800;
      font-family: 'Montserrat';
}
.product-left-sec h2.product-location {
  color: #fff;
  padding-left: 50px !important;
  margin: 0 auto !important;
  padding-bottom: 20px !important;
  font-size: 29px;
  font-weight: 800;
      font-family: 'Montserrat';
}
li {
  list-style: none !important;
}
.property-content ul {
  list-style-type: disc;
}
.property-content ul li::before {
  content: "→";
  color: rgb(66, 172, 217);
  margin-right: 15px;
  background-color: unset;
  font-size: 30px;
    position: relative;
    top: 0px;
}
.main-product-img img.product-main-img {
  height: 443px;
  width: -webkit-fill-available;
  object-fit: cover;
}
.gallery-products.slider ul.slick-dots {
  left: 0;
  right: 0;
}
.logo_retails {
  bottom: 20px;
  position: absolute;
  right: 20px;
}
.product-right-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.gallery-products .slick-dots li.slick-active button {
  background: #1e1e1e !important;
}
.product-description img.logo_retails {
    max-width: 190px;
}
.property-content ul li {
  font-size: 20px !important;
    display: flex;
    align-items: baseline;
}
@media only screen and (max-width: 1024px) {
    .product-left-sec h1.product-titles {
        font-size: 30px;
    }
    .product-left-sec h2.product-location {
        font-size: 22px;
    }
    .property-content ul li {
        font-size: 16px !important;
    }
    .property-content ul li::before {
        line-height: 30px;
    }
}

@media only screen and (max-width: 800px) {
  .splide__track .row {
    display: inline-block !important;
  }
    .splide__track .row .col-md-6.product-left-sec {
    width: 100%;
  }
     .retails-main-sectn .category-info .category-name {
    top: 83px !important;
    font-size: 16px;
  }
     .splide__track .row .col-md-6.product-right-sec {
    width: 100%;
    position: static;
  }
     .property-content ul li {
    font-size: 16px !important;
  }
    .product-right-sec a.btn.btn-primary {
    font-size: 14px !important;
    margin-left: 0px
  }
    .main-product-img img.product-main-img {
    aspect-ratio: 16 / 9;
    }
    .gallery-products.slider {
    padding: 25px;
    margin-top: 0 !important;
  }
    .gallery-products.slider .slick-dots {
    bottom: -15px !important;
  }
    .gallery-products .slick-dots li {
    width: 9px;
    height: 9px;
  }
    .product-left-sec h1.product-titles {
    font-size: 24px !important;
    max-width: 290px;
    width: 100%;
  }
    .product-left-sec h2.product-location {
    font-size: 16px !important;
    max-width: 289px;
    width: 100%;
  }
    .retails-main-sectn .properties-list .property.sold {
    margin-bottom: 20px;
    }
    .view-details-button {
    font-size: 12px;
  }
    .product-title {
    font-size: 1.25rem;
  }
  /*.product-description {
        min-height: 307px !important;
    }*/
    .gallery-products.slider .slick-dots li button {
    width: 16px;
    height: 16px;
  }
    .property-content ul {
    padding-left: 0px !important;
  }
    .property-content ul li::before {
    font-size: 17px;
  }
    .property-gallery.main-product-img {
    position: static;
  }
    .retails-main-sectn .category-info .category-name {
        right: 0;       
    }
    .retails-main-sectn .category-info .category-name {
        padding: 14px 27px;
        
    }
}

@media only screen and (max-width: 767px) {
  .product-description img.logo_retails {
       max-width: 150px;
  }
}

@media only screen and (max-width: 450px) {
  .product-description img.logo_retails {
    
    right: 10px;
  }
    .category-image.under-offer img,
  .category-image.acquisition img {
    margin-top: 77px;
  }
    .category-image.under-offer img,
  .category-image.acquisition img {
    height: 99px;
    object-fit: contain;
  }
    .product-title {
    font-size: 1rem;
  }
    .selling_price {
    font-size: 1rem;
  }
    .product-type {
    font-size: 1rem;
  }
    .weekly_sale_price {
    font-size: .8rem;
  }
    .view-details-button {
    font-size: 12px;
  }
  /*.product-description {
        width: 100% !important;
        max-width: 376px !important;
    }*/
    .cat-property h5 {
        font-size: 16px;
    }
    .main-product-img img.product-main-img {
        height: 260px;
  }
    .property-content ul li {
    font-size: 12px!important;
}
}

@media only screen and (max-width: 320px) {
  .view-details-button {
    font-size: 10px;
  }
}
@media only screen and (max-width: 480px){
    .retails-main-sectn .properties-list .property.sold {
        flex-direction: column;
     }
}

@media only screen and (min-width: 974px) and (max-width: 1200px) {
    .retails-main-sectn .category-info .category-name {
    top: 0px !important;
    font-size: 16px;
  }
    .property-content ul {
    margin-bottom: 0;
  }
    
    .property-content {
    margin-bottom: 50px;
  }
    .product-right-sec a.btn.btn-primary {
    font-size: 16px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .properties-list .col-md-4 {
    width: 50%;
  }
    .product-description {
    min-height: 313px !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
     .product-description {
    min-height: 337px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .product-description {
    min-height: 240px !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .product-description {
    min-height: 265px !important;
  }

  .category-image.under-offer img,
  .category-image.acquisition img {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    .category-image.under-offer img,
  .category-image.acquisition img {
    margin-top: 57px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .properties-list .property {
    width: 50%;
  }
    .category-image.under-offer img,
  .category-image.acquisition img {
    margin-top: 100px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .retails-main-sectn .category-info .category-name {
    font-size: 16px;
  }
        .product-right-sec a.btn.btn-primary {
        font-size: 16px;
        margin-left: 0px;
        }
}

@media only screen and (min-width: 751px) and (max-width: 799px) {
  .main-product-img img.product-main-img {
        height: 500px;
  }
}

.product-right-sec .category-info .category-name {
    margin: 0;
    background-color: #42acd9;
    padding: 25px;
    color: #fff;
    display: inline-block;
    position: absolute;
    top: 0px !important;
    right: 12px;
    font-size: 20px;
    font-weight: 900;
  }
.single_card_main{
    background-color: #000;
    padding: 30px 0px 15px 0px;
    border-radius: 10px;
    margin: 10px 0px 30px 0px;
}
.single_card_main .sector-titles{
	text-align:center !important;
}
.single_card_main .sector-titles a{   
	color: #fff !important;
    font-size: 28px !important;  
    text-transform: uppercase !important;
	text-align:center !important;
}
.single_card_main .sector-titles a:hover{
    	color: #24B4E0 !important;
}
.end-sector-tit-list-main p{
	font-family:montserrat !important; 
	font-size: 19.3px !important;	
	text-align:center;
/* 	padding:30px 150px 30px 150px; */
    margin: 30px 350px 30px 350px;
	color:#000 !important;
}
.properties-list{
	padding:50px 0px 50px 0px !important;
}